.vscode/
# Ignore all hidden files and folders
.*
# But do not ignore .gitignore
!.gitignore
05-unsloth-finetuning/unsloth_compiled_cache/UnslothXPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothSFTTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothRLOOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothRewardTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothPRMTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothPPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothORPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothOnlineDPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothNashMDTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothKTOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothGRPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothGKDTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothDPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothCPOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/UnslothBCOTrainer.py
05-unsloth-finetuning/unsloth_compiled_cache/moe_utils.py
05-unsloth-finetuning/model_ollama_gguf/Modelfile
05-unsloth-finetuning/model_ollama_gguf/llama-3.2-1b-instruct.Q4_K_M.gguf
05-unsloth-finetuning/model_ollama/tokenizer.json
05-unsloth-finetuning/model_ollama/tokenizer_config.json
05-unsloth-finetuning/model_ollama/special_tokens_map.json
05-unsloth-finetuning/model_ollama/model.safetensors
05-unsloth-finetuning/model_ollama/config.json
05-unsloth-finetuning/model_ollama/chat_template.jinja
05-unsloth-finetuning/data/wsa_knowledge_base.json
05-unsloth-finetuning/training_run.log
05-unsloth-finetuning/train_unsloth_backup.py
05-unsloth-finetuning/.gitignore
03-ByteByteAI-Learning_Path/05_week/multimodal_agent.ipynb
03-ByteByteAI-Learning_Path/04_week/deep_research_solution.ipynb
05-unsloth-finetuning/llama.cpp
